<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>FasTodo</title>
     <link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
</head>

<body>
    <form action="/user/register" method="post">
       <input type="text" name="userid" />
       <input type="text" name="password" />

       <input type="submit" value="Sign up" />
    </form>
</body>
</html>
